<pep-page-layout>
    <ng-container pep-top-area>
        <pep-top-bar [title]="'API Land'">
            <div header-start-content>
            </div>
            <div header-end-content>
            </div>
        </pep-top-bar>
    </ng-container>

    <ng-container pep-main-area>
        <mat-tab-group  #tabGroup class="editor-tabs" animationDuration="0ms">
            <mat-tab label="Pepperi APIs"> 
                <app-swagger-ui></app-swagger-ui>
            </mat-tab>
            <mat-tab label="Collections"> 
                <app-api-collections></app-api-collections>
            </mat-tab>
            <mat-tab label="History"> 
                <app-calls-history-list></app-calls-history-list>
            </mat-tab>

        </mat-tab-group>
        
    </ng-container>
</pep-page-layout>

<pep-size-detector></pep-size-detector>