<div class="genericListContainer" *ngIf="!logs">
    <pep-generic-list class="generic-list"
        [title] = "'History_List_Title' | translate"
        [showTopBar]="true" 
        [dataSource]="dataSource" 
        [inline]="true"
        [actions]="actions"
        [addPadding]="false"
        [showSearch]="true"
        [uuidMapping]="'ActionUUID'"
        >
        <ng-container right-buttons>
            <pep-button
                class="pep-spacing-element"
                [sizeType]="'sm'" 
                [styleType]="'strong'" 
                (buttonClick)="addonService.clearCallHistory()" 
                [value]="'Clear History'">
            </pep-button>
        </ng-container>
    </pep-generic-list>
</div>
<div class="genericListContainer" *ngIf="logs">
    
    <pep-generic-list class="generic-list"
        [title] = "'Logs_List_Title' | translate: {actionID: actionID}"
        [showTopBar]="true" 
        [dataSource]="logsDataSource" 
        [inline]="true"
        [addPadding]="false"
        [showSearch]="true"
        >
        <ng-container right-buttons>
            <pep-button
                class="pep-spacing-element"
                [sizeType]="'sm'" 
                [styleType]="'weak'" 
                (buttonClick)="logs = undefined;" 
                [value]="'Back To List'">
            </pep-button>
            <pep-button
                class="pep-spacing-element"
                [sizeType]="'sm'" 
                [styleType]="'strong'" 
                (buttonClick)="getLogs()" 
                [value]="'Refresh'">
            </pep-button>
        </ng-container>
    </pep-generic-list>
</div>

<ng-template #response>
    <pep-dialog [title]="'Response_Title' | translate">
        <ng-container pep-dialog-content>
            <ngx-json-viewer [json]="callResponse"></ngx-json-viewer>
        </ng-container>
    </pep-dialog>
</ng-template>

<ng-template #body>
    <pep-dialog [title]="'Body_Title' | translate">
        <ng-container pep-dialog-content>
            <ngx-json-viewer [json]="callBody"></ngx-json-viewer>
        </ng-container>
    </pep-dialog>
</ng-template>