<div *ngIf="!edit && collections">
    <h2 mat-dialog-title class="mat-dialog-title pepperi-border-bottom">
            <p style="font-weight: bold;">
                Create your own collections of API Endpoints.
            </p>
            
    </h2>
    <p>
        Collections specifications are defined using the <a href="https://swagger.io/specification/" target="_blank" rel="noopener noreferrer">Open API Specification</a>
    </p>
    <p>
        You can drog the JSON spec file in  <a href="https://editor.swagger.io/?docExpansion=none" target="_blank" rel="noopener noreferrer">this</a> editor to edit and see live results
    </p>
    <div class="genericListContainer">
        <pep-generic-list
            [title] = "'User API Collections'"
            [showTopBar]="true" 
            [dataSource]="dataSource" 
            [inline]="true"
            [actions]="actions"
            [addPadding]="false"
            [showSearch]="true"
            [uuidMapping]="'Key'"
        >
            <ng-container right-buttons>
                <pep-button 
                    class="pep-spacing-element"
                    [sizeType]="'sm'" 
                    [iconName]="'number_plus'" 
                    [styleType]="'strong'" 
                    (buttonClick)="createCollection()"
                ></pep-button>
            </ng-container>
        </pep-generic-list>
    </div>
</div>
<div *ngIf="edit && collection">
    <pep-button (buttonClick)="edit = false; collection = undefined;" [value]="'Back To List'"></pep-button>
    <app-swagger-ui [spec]="collection.Spec">

    </app-swagger-ui>
</div>
